@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     <li class="option">
        <a  asp-area="" asp-controller="Contacto" asp-action="Listar" >Listar Contactos</a>
    </li>
     <li class="option">
        <a asp-area="" asp-controller="Producto" asp-action="Index" >Productos registrados</a>
    </li>
     <li class="option">
        <a  asp-area="" asp-controller="Producto" asp-action="Registro" >Agregar Producto</a>
    </li>
     <li class="option">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a>
    </li>

    
  
}
else
{
    <li class="option">
        <a  asp-area="" asp-controller="Contacto" asp-action="Index" >Contactenos</a>
    </li>
    <li class="option">
        <a  asp-area="" asp-controller="Producto" asp-action="Catalogo" >Catalogo de Productos</a>
    </li>
   
}
</ul>
