@model AplicacionWebProducto.Models.Producto

@{
    ViewData["Title"] = "Registro de Productos";
}
 <h1 style="text-align: center;">Formulario de registro de Productos</h1>

<div class="container col-md-5">
    
  <form asp-controller="Producto" asp-action="Registrar">

     <div>
         <label asp-for="Name" class="control-label"></label>
         <input asp-for="Name" class="form-control"> 
         <span asp-validation-for="Name" class="text-danger"></span> 
     </div> 

      <div>
         <label asp-for="Image" class="control-label"></label>
         <input asp-for="Image" class="form-control"> 
          <span asp-validation-for="Image" class="text-danger"></span> 
     </div> 

      <div>
         <label asp-for="Price" class="control-label"></label>
         <input asp-for="Price" class="form-control" > 
         <span asp-validation-for="Price" class="text-danger"></span> 
        
     </div> 
     <br>
     <div style="text-align:center;" >
         <button type="submit" class="btn btn-primary">Registrar</button>
     </div>

  </form>

</div>

 